# Dataset used in this project is accessed at: https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store/data
*.csv
*.pyc
myenv
*ubj
notebook
node_exporter-1.6.1.linux-amd64
tmp
*pkl

# Ignore Prometheus binaries and archives
prometheus-*.tar.gz
prometheus-*/prometheus
prometheus-*/promtool